@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Tenor+Sans&display=swap");

h2 {
	color: #f022ff;
	font-family: "Paytone One", sans-serif;
	font-weight: 900;
	text-align: center;
	font-size: 2.5em;
}
.required {
	text-align: right;
	font-size: 0.69rem;
}

body {
	background: #ffe2bd;
	color: white;
	font-family: "Tenor Sans", sans-serif;
}

form {
	background: #0089a9;
	border-radius: 10px;
	padding: 2rem;
	padding-top: 2rem;
	/* 	display: flex;
	flex-direction: column; */
	width: 60%;
	margin: 2rem auto;
}
input,
select,
button {
	border: none;
	border-radius: 3px;
	padding: 5px;
}
.input-wrapper {
	display: flex;
	margin-bottom: 1rem;
	justify-content: space-between;
	text-align: left;
}
.input-wrapper input {
	width: 80%;
}

button {
	color: #0089a9;
	margin-top: 2rem;
	padding: 1rem;
	font-size: 1.5em;
}
.button-wrapper {
	text-align: center;
}
.ice-cream-flavor {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}
.cup-cone {
	display: flex;
	flex-direction: column;
}
#ice-cream-flavor {
	margin-top: 0.5rem;
	width: 100%;
}
.checkbox {
	display: flex;
	flex-direction: column;
}

@media (max-width: 750px) {
	.input-wrapper {
		flex-direction: column;
	}
	#ice-cream-flavor {
		margin-top: 0.5rem;
		width: 83%;
	}
}
